<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-app="iMovieUi">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100">
        <div class="container-fluid">
            <h2 class="h2"> <strong>Comics based</strong> Movies</h2>
            <div class="our-tours-list-wrapper">
                <div class="our-tours-list text-left">
                    <!-- Batman  -->
                    <% for(var i=0; i<characters.length; i++){ %>
                    <div class="our-tours-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="<%= characters[i].imgUrl%>"  class="img-responsive">
                        </div>
                        <h3><%= characters[i].name%>    <small>  /  <%= characters[i].type[0]%></small></h3>
                        <ul class="list-inline star-vote">
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star-half-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                        </ul>
                        <p><%= characters[i].description%></p>
                        <div class="our-tours-price">
                            <a style="color:white" href="/comics-character/<%= characters[i].name%>">See more</a>
                        </div>

                    </div>
                    <% }%>
                </div>
            </div>
        </div>
    </div>

    <div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100" >
        <h2 class="h2"> <strong>Most popular movie</strong> Characters</h2>
        <div class="container">
            <%var rowOpenClose =0%>
            <% movieCharacters.forEach(function(mCharacter){ %>
            <% if(rowOpenClose==0){%>
            <div class="row">
                <%}%>
                <div class="col-md-6" style="min-height: 100px;margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= mCharacter.imgUrl%>" class="img-responsive" >
                        </div>
                        <div class="col-md-8 text-left">
                            <h4 style="text-transform: none"> <%= mCharacter.name%> <small> played by</small>  <%= mCharacter.playedBy%></h4>
                            <h4>
                                <span style="margin-right: 10px;"><i style="color:goldenrod" class="fa fa-star"></i> 8.2</span>
                                <span ><i style="color:#ee4136" class="fa fa-star"></i> 9</span>
                            </h4>

                            <p style="margin:0"> <strong><%= mCharacter.movies[0].name%></strong> (<%= mCharacter.movies[0].year%>)</p>
                            <p style="margin:0"><strong>IMDb</strong> Rating (<strong><%= mCharacter.movies[0].IMDbRating%>/10</strong>)

                            </p>

                        </div>
                    </div>
                </div>
                <% rowOpenClose ++%>
                <% if(rowOpenClose>0 && rowOpenClose%2==0){%>
                <% rowOpenClose =0%>
            </div>
            <%}%>
            <% })%>
        </div>
        <div class="text-center">
            <a href="/most-popular-movie-characters/" class="btn btn-primary">
                See More Movie Characters
            </a>
        </div>
    </div>





    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>

    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/init-owl-carousel.js"></script>
    <script>
        $(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
        });
    </script>

</main>
</body>
</html>