<!DOCTYPE html>
<html lang="en" ng-app="iMovieUi" ng-controller="HomeCtrl">
<head>
    <title>iMovieUi: Rate for the most popular movie characters</title>
    <meta name="keyword" content="rate movie character comic character vote">
    <meta name="description"
          content="best actor as comic character, vote for the most popular actors, top movie characters">
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
    <input type="hidden" ng-value="isAuthProp =isAuthenticated()">

    <div class="text-center pt-85">
        <div class="container-fluid">

            <h2 class="g-heading">

                THE MOST PLAYED <strong>COMIC CHARACTERS</strong>
            </h2>

            <h3 class="d-heading">Vote for the Best Comic character actor</h3>

            <div class="comics-characters-list-wrapper">
                <div class="comics-character-list text-left">
                    <% characters.forEach(function(character){ %>
                    <div class="comics-character-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="<%= character.imgUrl %>" class="img-responsive">
                        </div>
                        <h3><%= character.name %>
                            <small style="color: #fff"> / <%= character.type %></small>
                        </h3>
                        <p><%= character.description %></p>

                        <p>Was played by <%= character.actors.length %> actors</p>

                        <div class="btn-see-more">
                            <a href="/comics-character/<%= character.name %>">See more</a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center  pt-85 pb-100">
        <h2 class="g-heading">Most popular <strong>movie Characters</strong></h2>

        <div class="container">
            <div class="row" ng-repeat="row in movieCharacters">
                <div class="col-md-6 col-sm-6 form-group" ng-repeat="item in row track by item._id">
                    <character model="item"></character>
                </div>
            </div>


            <div class="text-left">
                <a href="/most-popular-movie-characters/" class="btn btn-lg btn-primary">
                    See More Movie Characters
                </a>
            </div>

        </div>

    </div>


    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>

    <script>
        $(function () {
            App.initHeader();
            App.initOwlCarousel();
        });
    </script>

</main>
</body>
</html>