<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>


  <div class="container">
      <div class="row" style="margin-top: 100px">
          <div class="col-md-4">
              <img src="<%= character.imgUrl%>" class="img-responsive">
          </div>
          <div class="col-md-8">
              <div class="tabs-container">
                  <ul class="nav nav-tabs">

                      <% for(var i = 0; i < character.actors.length; i++) { %>
                      <% var className = i == 0 ? "active" : '' %>
                      <li class="<%= className %>">
                          <a data-toggle="tab" href="#<%= character.actors[i].firstName %>" aria-expanded="false">
                              <%= character.actors[i].firstName %>
                              <%= character.actors[i].lastName %>
                          </a>
                      </li>
                      <% } %>

                  </ul>
                  <div class="tab-content">
                      <% for(var i = 0; i < character.actors.length; i++) { %>
                      <% var className = i == 0 ? "active" : '' %>
                      <div id="<%= character.actors[i].firstName %>" class="<%= className %>  tab-pane">
                          <div class="panel-body">
                              <strong><%= character.actors[i].firstName %></strong>

                              <% character.actors[i].movies.forEach(function(movie){ %>
                              <p><%=movie.name%></p>
                              <p><%=movie.year%></p>
                              <%})%>

                          </div>
                      </div>

                      <% } %>

                  </div>
              </div>
          </div>
      </div>

  </div>
    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>
</main>
</body>
</html>