<!DOCTYPE html>
<html lang="en">
<head>
    <title>iMovieUi Admin | Comic Characters</title>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/tree.view.css"/>

</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="container"  style="margin-top: 60px;">

        <ul class="treeview">
            <% characters.forEach(function(character){ %>
            <li>
                <%= character.name %>
                <ul>
                    <li>
                        Description :  <%= character.description %>
                    </li>
                    <li>
                        Type :  <%= character.type %>
                    </li>
                    <li>
                        Sex :  <%= character.sex %>
                    </li>
                    <li>
                        Artists
                        <ul>
                            <!-- repeat over artists-->
                            <%  character.actors.forEach(function(actor) {  %>
                            <li>
                                <%= actor.firstName  %>   <%= actor.lastName  %>

                                <ul>
                                    <li>
                                        Movies
                                        <ul>
                                            <!-- repeat over movies-->
                                            <%  actor.movies.forEach(function(movie){ %>
                                            <li>
                                                <%=  movie.name  %>  <small>(<%=  movie.year  %>)</small>
                                            </li>

                                            <% }) %>
                                            <!-- END movies-->
                                            <li class="add">
                                                <a href="/admin/create/<%= character._id %>/<%=actor._id%>/movie"> <i class="fa fa-plus"></i> Add new Movie</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <% }) %>
                            <!-- END repeat over artists-->
                            <li class="add">
                                <a href="/admin/create/<%= character._id %>/artist"> <i class="fa fa-plus"></i> Add new artist</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <% }) %>
            <li class="add">
                <a href="/admin/create/comicsCharacter"> <i class="fa fa-plus"></i>  Add new Character</a>
            </li>
        </ul>
    </div>
</main>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/tree.view.js"></script>

<script>
    $(window).on('load', function () {
        $('.treeview').each(function () {
            var tree = $(this);
            tree.treeview();
        })
    })


</script>
</body>