<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/tree.view.css"/>
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
<div class="container" ng-controller="IndexCtrl" style="margin-top: 60px;">
    <h1>{{welcome}}</h1>

    <ul class="treeview">
    <% characters.forEach(function(character){ %>
     <li>
         <%= character.name %>
         <ul>
             <li>
                 Description :  <%= character.description %>
             </li>
             <li>
               Type :  <%= character.type[0] %>
             </li>
             <li>
                 Sex :  <%= character.sex[0] %>
             </li>
             <li>
                 Artists
                 <ul>
                     <!-- repeat over artists-->
                   <%  character.actors.forEach(function(actor) {  %>
                     <li>
                          <%= actor.firstName  %>   <%= actor.lastName  %>

                         <ul>
                             <li>
                                Age : <%= actor.age  %>
                             </li>
                             <li>
                                 Movies
                                 <ul>
                                     <!-- repeat over movies-->
                                     <%  actor.movies.forEach(function(movie){ %>
                                     <li>
                                       <%=  movie.name  %>  ---  <%=  movie.year  %>
                                     </li>

                                     <% }) %>
                                     <!-- END movies-->
                                     <li class="add">
                                         <a href="/admin/new/<%= character.name %>/<%= actor.firstName %>"> <i class="fa fa-plus"></i> Add new Movie</a>
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                     <% }) %>
                     <!-- END repeat over artists-->
                     <li class="add">
                         <a href="/admin/new/<%= character.name %>"> <i class="fa fa-plus"></i> Add new artist</a>
                     </li>
                 </ul>
             </li>
         </ul>
     </li>
    <% }) %>
        <li class="add">
            <a href="/admin/new"> <i class="fa fa-plus"></i>  Add new Character</a>
        </li>
    </ul>
</div>
</main>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/angular/angular.min.js"></script>

<script src="/js/tree.view.js"></script>

<script>
    $(window).on('load', function () {
        $('.treeview').each(function () {
            var tree = $(this);
            tree.treeview();
        })
    })
    var app = angular.module('app', []);
    app.controller('IndexCtrl', function($scope){
        $scope.welcome ="Hello dear Admin welcome to our amazing website";
    })

</script>
</body>